@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@700&display=swap');
@font-face {
    font-family: 'SF Pro',sans-serif;
    src: url(fonts/FontsFree-Net-SFProText-Regular.ttf);
}

@font-face {
    font-family: 'Minecraft';
    src: url(fonts/Minecraft.ttf);
}
*{
    margin: 0;
    padding: 0;
}

.background{
        background-image: url(img/background.jpg);
        height: 100vh;
        background-position: center;
    
}

.animated-background{
  height: 100vh;  
  background: linear-gradient(50deg, #ee9032, #f16d52, #ec4a77, #a063aa, #7963aa, #4b6eb5, #109aaf, #07b89f, #6bb97f);
  animation: movinggradient 5s ease infinite;
  background-size: 400% 400%;
}

@keyframes movinggradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 16px;
    flex: 1;
}

.display-text{
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);

}

.online{
    font-family: 'Minecraft';
    font-size: 1.5rem;
    color: #00a300;
    background-color: aliceblue;
    padding:10px 20px 5px 20px;
    border-radius: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    margin-bottom: 20px;
}

.tools{
    background-color: #727272;
    width:400px;
    height:auto;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px -4px 8px rgba(0, 0, 0, 0.3), 4px 0px 8px rgba(0, 0, 0, 0.3), -4px 0px 8px rgba(0, 0, 0, 0.3);
}

.sketch-pad{
    background-color: #727272;
    width:600px;
    height: 600px;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 35px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px -4px 8px rgba(0, 0, 0, 0.3), 4px 0px 8px rgba(0, 0, 0, 0.3), -4px 0px 8px rgba(0, 0, 0, 0.3);
}

.gridBox{
    background-color: aliceblue;
    cursor: crosshair;
}

.visibleGrid{
    border:1px solid rgb(151, 151, 151);
}

.grid{
    display: grid;
    height: 100%;
   
}

#slider-container {
    background-color: #5c5c5c;
    padding: 20px 20px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.toolbox-container {
    background-color: #5c5c5c;
    padding: 20px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.toolbox{
    display: flex;
    align-items: center;
}

.tool-icon{
    background-color: #8f8f8f;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.tool-icon-disabled{
    background-color: #8f8f8f;
    border-radius: 5px;
    margin-left: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.tool-icon:hover{
    background-color: #a0a0a0;
}

#light{
    padding: 12px 15px 12px 15px;
}

#eraser{
    padding: 12px 12px 12px 12px;
}

#shade{
    padding: 12px 13px 12px 13px;
}

#fill{
    padding: 12px 12px 12px 12px;
}

#disableBtn{
    padding: 16px 19.5px 16px 19.5px;
}




#slider {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#slider-value {
    display: block;
    font-size: 16px;
    font-family: 'SF Pro',sans-serif;
    font-weight: 800;
    color: #f7f7f7;
}


.btn-clear {
 width: 150px;
 height: 40px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 background: #e62222;
 
}

.btn-clear, button span {
 transition: 200ms;
}

.btn-clear .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

.btn-clear .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.btn-clear svg {
 width: 15px;
 fill: #eee;
}

.btn-clear:hover {
 background: #ff3636;
}

.btn-clear:hover .text {
 color: transparent;
}

.btn-clear:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

.btn-clear:focus {
 outline: none;
}

.btn-clear:active .icon svg {
 transform: scale(0.8);
}



/*Download btn*/

.btn-download {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #209978;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-download, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .btn-download .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .btn-download .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 42px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-download .svg {
    width: 20px;
    fill: #fff;
  }
  
  .btn-download:hover {
    background: #17795E;
  }
  
  .btn-download:hover .button__text {
    color: transparent;
  }
  
  .btn-download:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .btn-download:active .button__icon {
    background-color: #146c54;
  }
  
  .btn-download:active {
    border: 1px solid #146c54;
  }
  

  .buttons-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  

/*Color picker*/

.color-picker-container{
    width: 100%;
    height: auto;
    background-color: #5c5c5c;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#color-picker{
    width: 80px;
    height: 33px;
    border: 2px solid white;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    
}

.color-picker{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 2px 8px 2px;
    border-radius: 5px;
    background-color:  #8f8f8f;
    width: 140px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.eye-dropper{
    margin-left: 11px;
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
}

.pallete{
    display: flex;
    flex-wrap: nowrap;
}

.color-box{
    width: 20px;
    height: 20px;
    border: 1.5px solid #fff;
    margin: 2.5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#color-box1{
    background-color: #f31f26;
}
#color-box2{
    background-color: #f9ee00;
}
#color-box3{
    background-color: #00a94d;
}
#color-box4{
    background-color: #01aef0;
}
#color-box5{
    background-color: #2f3194;
}
#color-box6{
    background-color: #ee1d96;
}
#color-box7{
    background-color: #bf1d2c;
}
#color-box8{
    background-color: #f23c38;
}
#color-box9{
    background-color: #f4582d;
}
#color-box10{
    background-color: #fc9716;
}
#color-box11{
    background-color: #fced36;
}
#color-box12{
    background-color: #8dc73f;
}
#color-box13{
    background-color: #39b44a;
}
#color-box14{
    background-color: #019444;
}
#color-box15{
    background-color: #006738;
}
#color-box16{
    background-color: #2bb673;
}
#color-box17{
    background-color: #01a897;
}
#color-box18{
    background-color: #20ace2;
}
#color-box19{
    background-color: #1876bc;
}
#color-box20{
    background-color: #293993;
}
#color-box21{
    background-color: #272561;
}
#color-box22{
    background-color: #25205d;
}
#color-box23{
    background-color: #61308c;
}
#color-box24{
    background-color: #90278e;
}
#color-box25{
    background-color: #764c2d;
}
#color-box26{
    background-color: #603715;
}
#color-box27{
    background-color: #3a3a3c;
}
#color-box28{
    background-color: #59595b;
}
#color-box29{
    background-color: #6d6e71;
}
#color-box30{
    background-color: #808285;
}
#color-box31{
    background-color: #939498;
}
#color-box32{
    background-color: #a9a9ad;
}
#color-box33{
    background-color: #d2d3d5;
}



.pallete-text{
    color: #fff;
    font-weight: 800;
    padding-bottom: 10px;
    font-family: 'SF Pro',sans-serif;
}

/* this button is inspired from this -- https://www.newline.co/pricing */
.rainbow {
    --width: 140px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 0.8em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(64, 192, 87);
    transition: all 0.2s;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .rainbow:hover {
    background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
    animation: var(--timing) linear rainbow-effect infinite;
    transform: scale(1.1) translateY(-1px);
  }
  
  @keyframes rainbow-effect {
    to {
      background-position: var(--width);
    }
  }
  
  .rainbow-active{
    border: 3px solid yellow;
  }

.flex-color-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 8.5px;
    position: relative;
    display: inline-block;
    width: 31px;
    height: 17.5px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }


   .slider-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
   }

.tool-active{
    border: 2px solid yellow;
}

.footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.footer-text{
    color: #fff;
    font-family: 'SF Pro', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: none;
    color: #0270ff;
}
   
.github{
    width: 25px;
    margin-left: 6px;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.logo-sketch{
    width: 40px;
}

@media (max-width: 767px) {
    .container{
        flex-direction: column;
        gap: 30px;
    }

    .sketch-pad{
        width:400px;
    height: 400px;
    }

    .online{
        display: none;
        font-size: 1.5rem;
        
    }

    .display{
        flex-direction: column;
    }
  }

  @media (min-width: 767px) and (max-width: 912px){
    .container{
        flex-direction: column;
        gap: 30px;
    }

    .sketch-pad{
        width:750px;
        height: 750px;
    }

    .online{
        display: none;
        font-size: 1.5rem;
        
    }

    .display{
        flex-direction: column;
    }
  }

  