@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {font-family: KA; src: url(fonts/ka1.ttf);}

*{
    margin: 0;
    padding: 0;
}


.animated-background{
  height: 100vh;  
  background: linear-gradient(50deg, #ee9032, #f16d52, #ec4a77, #a063aa, #7963aa, #4b6eb5, #109aaf, #07b89f, #6bb97f);
  animation: movinggradient 5s ease infinite;
  background-size: 400% 400%;
}

@keyframes movinggradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 16px;
}

.display-text{
    font-family: 'Righteous', cursive;
    font-size: 2.5rem;
    color: aliceblue;

}

.online{
    font-family: 'KA';
    font-size: 1.5rem;
    color: #ec4a77;
    background-color: aliceblue;
    padding:10px 20px 10px 20px;
    border-radius: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.tools{
    background-color: aliceblue;
    width:400px;
    height:600px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sketch-pad{
    background-color: aliceblue;
    width:600px;
    height: 600px;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gridBox{
    border:1px solid rgb(151, 151, 151);
}

.grid{
    display: grid;
    height: 100%;
   
}

#slider-container {
    background-color: #ec4a77;
    padding: 30px 30px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

#slider {
    width: 100%;
}

#slider-value {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    color: #f7f7f7;
}

.btn-clear {
 width: 150px;
 height: 40px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
 
}

.btn-clear, button span {
 transition: 200ms;
}

.btn-clear .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

.btn-clear .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.btn-clear svg {
 width: 15px;
 fill: #eee;
}

.btn-clear:hover {
 background: #ff3636;
}

.btn-clear:hover .text {
 color: transparent;
}

.btn-clear:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

.btn-clear:focus {
 outline: none;
}

.btn-clear:active .icon svg {
 transform: scale(0.8);
}



/*Download btn*/

.btn-download {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #209978;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  }
  
  .btn-download, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .btn-download .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .btn-download .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-download .svg {
    width: 20px;
    fill: #fff;
  }
  
  .btn-download:hover {
    background: #17795E;
  }
  
  .btn-download:hover .button__text {
    color: transparent;
  }
  
  .btn-download:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .btn-download:active .button__icon {
    background-color: #146c54;
  }
  
  .btn-download:active {
    border: 1px solid #146c54;
  }
  

  .buttons-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }

/*Color picker*/

.color-picker-container{
    width: 100%;
    height: 175px;
    background-color: #747474;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

#color-picker{
    width: 100%;
    height: 33px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
}

.color-picker{
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.eye-dropper{
    margin-left: 20px;
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
}

.pallete{
    display: flex;
    flex-wrap: wrap;
}

.color-box{
    width: 20px;
    height: 20px;
    border: 1.5px solid #fff;
    margin: 2.5px;
    cursor: pointer;
}

#color-box1{
    background-color: #FF0000;
}
#color-box2{
    background-color: #00FF00;
}
#color-box3{
    background-color: #0000FF;
}
#color-box4{
    background-color: #FFFF00;
}
#color-box5{
    background-color: #FF00FF;
}
#color-box6{
    background-color: #00FFFF;
}
#color-box7{
    background-color: #FFA500;
}
#color-box8{
    background-color: #800080;
}
#color-box9{
    background-color: #008000;
}
#color-box10{
    background-color: #800000;
}
#color-box11{
    background-color: #808000;
}
#color-box12{
    background-color: #008080;
}
#color-box13{
    background-color: #C0C0C0;
}
#color-box14{
    background-color: #808080;
}
#color-box15{
    background-color: #FFC0CB;
}
#color-box16{
    background-color: #00FF7F;
}
#color-box17{
    background-color: #FFD700;
}
#color-box18{
    background-color: #ADFF2F;
}

.pallete-text{
    color: #fff;
    font-weight: 800;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


